<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Details</title>
</head>
<body>
    <h1>Request Details</h1>
    <h2>Request Data</h2>
    <pre>{{ request_data }}</pre>
    <h1>Decoded Data</h1>
    <ul>
        {% for key, value in decoded_data.items() %}
            <li>{{key}} : {{value}}</li>
        {% endfor%}
    </ul>
    <h2>Request Method</h2>
    <p>{{ req_method }}</p>

</body>
</html>
